.yellow {
  background-color: rgba(226, 222, 143, 0.1);
}
.orange {
  background-color: rgba(226, 184, 123, 0.1);
}
.purple {
  background-color: rgba(106, 95, 129, 0.1);
}
.red {
  background-color: rgba(182, 55, 73, 0.1);
}
.brown {
  background-color: rgba(94, 22, 26, 0.1);
}
