.balance-margin {
  margin-bottom: 40px;
}

.header-info {
  display: flex;
  justify-content: space-between;
}

.header-borrowed {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}
